<h1>Login</h1>
<form method="POST" action="/">
    <div class="mb-3">
      <label for="user_name" class="form-label">Username</label>
      <input type="user_name" class="form-control" id="user_name" name="user_name">
    </div>
    <div class="mb-3">
      <label for="user_pass" class="form-label">Password</label>
      <input type="password" class="form-control" id="user_pass" name="user_pass">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>